
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}
.bg-primary-red {
    background: #FA3600; 
}
.bg-primary-gray {
    background: #F8F8F8;
}
.border-gray{
    border: 1px solid #E8E9EA;
}
.hero-section{
    background: url("/Image/hero.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.f-family-syne{
    font-family: 'Syne', sans-serif;
}

.menu-left-class{
    left: 0 !important;
   
    transition: all .5s;
}
.left-50-custom{
left: -290px !important;
transition: all .5s;
}
.left-0-custom{
    left: 20px !important;
    transition: all .5s;
}
.margin-left-0-custom{
    margin-left: 0 !important;
    transition: all .5s;
}
.left-50-custom1{

transition: all .5s;
}
.left-0-custom1{
    transition: all .5s;
}
.margin-left-0-custom1{
   
    transition: all .5s;
}